# Backend
/backend/target
/backend/Cargo.lock
backend/module_combinations/*.bin

# Frontend
/frontend/node_modules
/frontend/.pnp
/frontend/.pnp.js
/frontend/build
/frontend/.env.local
/frontend/.env.development.local
/frontend/.env.test.local
/frontend/.env.production.local
/frontend/npm-debug.log*
/frontend/yarn-debug.log*
/frontend/yarn-error.log*
/frontend/.next
/frontend/.out

# General
.DS_Store
.env
.env.local